# PostgreSQL
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=smartbancs

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

# Inteligencia Artificial
GEMINI_API_KEY=tu_api_key_aqui
